<div class="card">
  <%= link_to image_tag(prototype.image, class: :card__img ), prototype_path(prototype.id) %>
  <%# <%= image_tag prototype.image, class: 'card__img'%> <%#これではリンクしない#%>
  <%# <%= link_to image_tag("プロトタイプの画像", class: :card__img ), root_path%>
  <%# #決論  基本的にはimage_tag("#{  }")では読み込めないことがわかった 3/24%>


  <div class="card__body">
    <%= link_to prototype.title, root_path, class: :card__title%>
    <p class="card__summary">
      <%= prototype.catch_copy %>
    </p>
    <%= link_to "by #{User.find(prototype.user_id).name}", user_path(prototype.user_id), class: :card__user%>
  </div>
</div>